@model IEnumerable<FinanceApp.Models.Expense>

<div class="container">
    <table class="table table-bordered">
        <thead class="table-light">
            <tr>
                <th>
                    Description
                </th>
                <th>
                    Amount
                </th>
                <th>
                    Category
                </th>
                <th>
                    Date
                </th>
            </tr>
            
        </thead>
        <tbody>
            
                @foreach (var item in Model)
                {
                <tr>
                    <td >
                        @item.Description
                    </td>                    
                    <td >
                        @item.Amount
                    </td>
                    <td >
                        @item.Category
                    </td>
                    <td >
                        @item.Date
                    </td>
                </tr>
                }
        </tbody>
    </table>

    <div class="text-start">
        <a class="btn btn-primary" asp-action="Create">Add Expense</a>  
    </div>

    <h2>Expenses chart</h2>

    <div>
        <canvas style="max-width:450px;max-height:450px" id="myChart"></canvas>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        const ctx = document.getElementById('myChart');

        new Chart(ctx, {
          type: 'bar',
          data: {
            labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
            datasets: [{
              label: '# of Votes',
              data: [12, 19, 3, 5, 2, 3],
              borderWidth: 1
            }]
          },
          options: {
            scales: {
              y: {
                beginAtZero: true
              }
            }
          }
        });
    </script>
